@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --primary: 221.2 83.2% 53.3%; */
    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
.richh-text {
  text-align: left;
  line-height: 1.7;
  color: #222;
}

/* Headings */
.richh-text h2,
.richh-text h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
}

/* Paragraph */
.richh-text p {
  margin-bottom: 14px;
  font-size: 14px;
}

/* Ordered lists (numbers) */
.richh-text ol {
  list-style-type: decimal;
  list-style-position: outside; /* proper alignment */
  padding-left: 22px;
  margin: 10px 0 16px 0;
}

/* List items */
.richh-text li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.6;
}

/* Remove clumsy extra spacing */
.richh-text ol li::marker {
  font-weight: 500;
}
